# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Django
db.sqlite3
media/
**/migrations/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Local one-off scripts (not part of the app)
local_scripts/

# Node.js
node_modules/
dist/.DS_Store
