.header {
  background-color: rgb(15%, 13%, 36%);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 0;
  margin: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

.header__logo-link {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.header__tp-icon {
  width: 45px;
}

.header__links {
  display: flex;
  gap: 40px;
}

.header__link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.header__link:hover {
  border-bottom: 2px solid white;
}

.header__link--active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.header__logoff-button {
  width: 100px;
  height: 25px;
  margin-right: 40px;
  background-color: transparent;
  color: white;
  border: 2px solid #dadce0;
  border-radius: 5px;
  display: flex;
  text-align: right;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__logoff-button:hover {
  transform: translateY(-1px);
  transition: all 0.2s ease;
  cursor: pointer;
}

.header__logoff-icon {
  width: 15px;
  height: 15px;
}
