.passport-certificate {
  width: 100%;
  min-width: 0;
}

.passport-certificate__main-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin-inline: auto;
}

.passport-certificate__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 9999;
  align-content: center;
  backdrop-filter: blur(10px);
  color: black;
}
