.welcome-panel {
  background-color: rgb(96%, 96%, 100%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
}
.welcome-panel__logo {
  display: flex;
  gap: 15px;
  max-height: 65px;
  align-items: center;
}
.welcome-panel__logo-img {
  width: 75px;
  height: 75px;
  color: #534ab7;
}
.welcome-panel__logo-title {
  color: #26215c;
  font-size: 35px;
}
.welcome-panel__intro {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.welcome-panel__intro-subtitle {
  color: #26215c;
}
.welcome-panel__intro-text {
  color: #534ab7;
}
.welcome-panel__instructions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.welcome-panel__instructions-row {
  display: flex;
  align-items: center;
  gap: 15px;
}
.welcome-panel__instructions-number {
  background-color: #3c3489;
  color: #eeedfe;
  padding: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.welcome-panel__instructions-text {
  color: #3c3489;
}
