.login__welcome {
  background-color: rgb(96%, 96%, 100%);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
}
.login__welcome_logo {
  display: flex;
  gap: 15px;
  max-height: 65px;
  align-items: center;
}
.login__welcome_logo-img {
  width: 75px;
  height: 75px;
  color: #534ab7;
}
.login__welcome_logo-title {
  color: #26215c;
  font-size: 35px;
}
.login__welcome_intro {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login__welcome_intro_subtitle {
  color: #26215c;
}
.login__welcome_intro_text {
  color: #534ab7;
}
.login__welcome_instructions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login__welcome_instructions_row {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login__welcome_instructions_list-number {
  background-color: #3c3489;
  color: #eeedfe;
  padding: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.login__welcome_instructions_list-text {
  color: #3c3489;
}
