.login {
  display: flex;
  height: 100vh;
  width: fit-content;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex: 1;
  gap: 20px;
}

.login__title {
  text-align: left;
  font-size: 20px;
  color: #26215c;
}

.login__divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #26215c;
  margin: 20px 0;
  padding: 0 12px;
}

.login__divider::before,
.login__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #cccccc;
}

.login__divider_text {
  padding: 0 12px;
  font-size: 16px;
}
