.signup {
  display: flex;
  height: 540px;
  width: 900px;
  justify-self: center;
  border: 1px solid rgb(240, 238, 238);
  border-radius: 15px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  align-self: center;
  margin: auto;
}

.signup__form {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex: 1;
  height: 100%;
  justify-content: center;
}

.signup__form-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}

.signup__title {
  text-align: left;
  font-size: 20px;
  color: #26215c;
  margin-bottom: 20px;
}
